.section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1rem;
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

