.root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  user-select: none;
  touch-action: none;
}

.track {
  position: relative;
  flex-grow: 1;
  height: var(--stellarr-track-height);
  border-radius: 9999px;
  background: var(--stellarr-color-border);
  overflow: hidden;
}

.range {
  position: absolute;
  height: 100%;
  border-radius: 9999px;
  background: var(--stellarr-color-primary);
}

.thumb {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: var(--stellarr-color-secondary);
  box-shadow: 0 0 4px color-mix(in srgb, var(--stellarr-color-secondary) 27%, transparent);
  outline: none;
  cursor: grab;
}
